.form
{
   
	width: 100%;
	height: 70%;
	gap: 0.5rem;
    font-size: 1vw;
	
}

.container
{
    margin-left: 60vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.inputs
{
    border: none;
    border-bottom: 2px solid black ;
}

.inside-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 2rem;

}


.inputs-2
{
    /* margin-top: -4vh; */
    border: none;
    border-bottom: 2px solid black ;
}

.container-2
{
    margin-left: 30vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-button
{
    font-size: 1vw;
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    border: 2px solid black;
    border-radius: 10%;
    font-weight: bold;
}