{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Stock</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='card.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {{ common_elements() }}
    <div class="card">
        <div class="items">
            <!-- Images -->
            <div class="image-container">
            {% for image in device %}
                <img src="{{image}}" alt="device" width="200">
            {% endfor %}

            {% for image in image_proof %}
                <img src="{{image}}" alt="image_proof" width="200">
            {% endfor %}
            </div>

            <!-- Product Data -->
            <div class="card-contents">
                {% for product in product_data %}
                <p id="serial_no">Serial No: {{ product[0] }}</p>
                <p>Purchase Date: {{ product[1] }}</p>
                <p>Company Name: {{ product[2] }}</p>
                <p>Model Name: {{ product[3] }}</p>
                <p>Processor: {{ product[4] }}</p>
                <p>SSD: {{ product[5] }}</p>
                <p>HDD: {{ product[6] }}</p>
                <p>RAM: {{ product[7] }}</p>
                <p>Supplier: {{ product[8] }}</p>
                <p>Available At: {{ product[9] }}</p>
            </div>
            <div class="container-buttons">
                <button class="issue"> <a href="/issue?serial_no={{ product[0] }}">Issue</a></button>
                <button class="sell"><a href="/sell?serial_no={{ product[0] }}">Sell</a> </button>
            </div> 
            {% endfor %}
        
      

            
        </div>
    </div>
    {{ common_elements_end() }}
</body>
</html>