<!DOCTYPE html>
<html lang="en">

<head>
	<title>Best Computer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/main.css" />
</head>

<body>
	<!-- Defining Macro for other html file -->
	{% macro common_elements() %}
		<!-- Hero section -->
		<div class="hero">

			<!-- Navbar -->
			<nav class="navbar" id="navbar">
				<span id="logo">Best Computer</span>
				<input type="text" name="search" value="Search">
			</nav>

			<!-- Main section -->
			<main>
				<div class="SideNavbar">
					<div class="in_container">
						<div class="btn"><a href="/add">Add product</a></div>
						<div class="btn"><a href="/available_stock">Available stock</a></div>
						<div class="btn"><a href="/sold_stock">Sold stock</a></div>
						<div class="btn"><a href="/defective_stock">Defective stock</a></div>
					</div>
				</div>
	{% endmacro %}

	{% macro common_elements_end() %}

			</main>

		</div>
	{% endmacro %}
	
		<div class="hero">

			<!-- Navbar -->
			<nav class="navbar" id="navbar">
				<span id="logo">Best Computer</span>
				<input type="text" name="search" value="Search">
			</nav>

			<!-- Main section -->
			<main>
				<div class="SideNavbar">
					<div class="in_container">
						<div class="btn"><a href="/add">Add product</a></div>
						<div class="btn"><a href="/available_stock">Available stock</a></div>
						<div class="btn"><a href="/sold_stock">Sold stock</a></div>
						<div class="btn"><a href="/defective_stock">Defective stock</a></div>
					</div>
						</div>
			</main>

		</div>
	
</body>

</html>
