.btn{
	height: 35px;
	text-align: center;
}
.issue{
	display: block;
	width: fit-content;
	background-color: red;
	color: #fff;
	margin: 2px;
	padding: 4px;
}
.sold{
	display: block;
	width: fit-content;
	background-color: green;
	color: #fff;
	margin: 2px;
	padding: 4px;
}

