{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Available Stock Sell</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./static/output.css" media="all">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    {{common_elements()}}
    <form method="post" class="sell-form" enctype="multipart/form-data">
        <div class="sell-text">
            &nbsp;&nbsp;Customer Name :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="customer_name" placeholder="Customer Name"><br><br>
            &nbsp;&nbsp;Customer Contact :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="customer_contact" placeholder="Customer Contact"><br><br>
            &nbsp;&nbsp;Selling Date :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="selling_date" placeholder="Selling Date"><br><br>
            &nbsp;&nbsp;Image Proof&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="image_proof" placeholder="Add Image Proof" class="image_proof"><br><br>
        </div>
        <div class="container-buttons">
            &nbsp;&nbsp;<input type="submit" formaction="/sell_backend" value="Sell Item" class="sell bg-green-500 px-4 text-xl rounded">
        </div>
    </form>
    {{common_elements_end()}}

</body>
		