{% macro display_product_card(product) %}
    <div class="items">
        <!-- <img src="{{product[11]}}" alt="Device" width="200"> -->
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-Cs3L8dGH9jA%2FTnfw4I4CT4I%2FAAAAAAAAAH8%2F4zq0yTDNE_4%2Fs1600%2FDell-XPS-Laptop.jpg&f=1&nofb=1&ipt=ba43abd9b6b668f552d235eb0726830b37a2d535975c5830c2f1aa7344cdc7cb&ipo=images"alt="">
        <div class="card-contents">
            <p id="serial_no">Serial No: {{ product[0] }}</p>
            <p>Purchase Date: {{ product[1] }}</p>
            <p>Company Name: {{ product[2] }}</p>
            <p>Model Name: {{ product[3] }}</p>
            <p>Processor: {{ product[4] }}</p>
            <p>SSD: {{ product[5] }}</p>
            <p>HDD: {{ product[6] }}</p>
            <p>RAM: {{ product[7] }}</p>
            <p>Supplier: {{ product[8] }}</p>
            <p>Available At: {{ product[9] }}</p>
        </div>
        <div class="container-buttons">
            <button class="issue" onclick="openIssueModal('{{ product[0] }}')">Issue</button>
        </div>
        
        <!-- <img src="{{product[12]}}" alt="Image Proof" width="200"> -->
    </div>
{% endmacro %}