{% from 'defective_macro.html' import display_product_card %}
{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Stock</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='card.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='defective.css') }}"/>
</head>
<body>
    {{ common_elements() }}
    <div class="card">
        {% for product in product_data %}
            {{ display_product_card(product) }}
        {% endfor %}
    </div>
    <h1>{{output}}</h1>
    {{ common_elements_end() }}

</body>
</html>
