{% from 'card_macro_sold.html' import display_product_card %}
{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sold Stock</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='card.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    {{ common_elements() }}
    <div class="card">
        {% for product in product_data %}
            {{ display_product_card(product) }}
        {% endfor %}
    </div>
    {{ common_elements_end() }}


        <!-- Modal for Issue -->
        <div class="modal fade" id="issueModal" tabindex="-1" role="dialog" aria-labelledby="issueModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="issueModalLabel">Enter Issue Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea id="issueDetails" class="form-control" rows="4" placeholder="Enter issue details"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="submitIssue()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    

        <script>
            // Function to open the Issue modal
            function openIssueModal(serial_no_issue) 
            {
                currentSerialNo_issue = serial_no_issue;
                $('#issueModal').modal('show');
            }
           // Function to submit the issue form
            function submitIssue() {
                var issueDetails = document.getElementById('issueDetails').value;
                var serial_no = currentSerialNo_issue
                // Send the customer name to the /sell route
                // Create a JavaScript object with data
                var dataToSend = {
                    "issues": issueDetails,
                    "type": "Sold",
                    "serial_no":serial_no
                    // Add any other data you want to send
                };

                // Make a POST request with JSON data
                $.ajax({
                    url: '/issue',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dataToSend),
                    success: function (response) {
                        // Handle the response from the server
                        console.log(response);
                    }
                });
                // Close the modal
                $('#issueModal').modal('hide');
            }   
        </script>
</body>
</html>
