{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defective Stock</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!-- Hero section -->
    {{common_elements()}}

                <div class="p-8 flex flex-col justify-center items-center">

                    {% for index in range(product_data | length) %}
                    <div class="card p-4 border border-black w-[100%] rounded-xl">
                        <div class="items">
                            <!-- Product Data -->
                            <div class="card-contents grid place-items-center gap-2 mt-2">
                                <p id="serial_no">Serial No: {{ product_data[index][0] }}</p>
                                <p>Issues: {{ product_data[index][1] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
    {{common_elements_end()}}
