<!DOCTYPE html>
<html lang="en">

<head>
    <title>Available Stock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="../static/avai_st.css" rel="stylesheet">
    <link type="text/css" href="../static/main.css" rel="stylesheet">
</head>

<body>

    <!-- Hero section -->
    <div class="hero">

        <!-- Navbar -->
        <nav class="navbar" id="navbar">
            <span id="logo">Best Computer</span>
            <input type="text" name="search" value="Search">
        </nav>
        V
        <!-- Main section -->
        <main>
            <div class="SideNavbar">
                <div class="in_container">
                    <div class="btn"><a href="">Add product</a></div>
                    <div class="btn"><a href="./available_stock.html">Available stock</a></div>
                    <div class="btn"><a href="./Sold.html">Sold stock</a></div>
                    <div class="btn"><a href="">Update</a></div>
                </div>
            </div>

            <div class="container_1">
                <h1 class="h1">Available product's</h1>
                <div class="container">

                    <!-- Example here dynamic content should be displayed -->
                    <div class="items">
                        <span class="issue">Issue</span>
                        <span class="sold">Sold</span>
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-Cs3L8dGH9jA%2FTnfw4I4CT4I%2FAAAAAAAAAH8%2F4zq0yTDNE_4%2Fs1600%2FDell-XPS-Laptop.jpg&f=1&nofb=1&ipt=ba43abd9b6b668f552d235eb0726830b37a2d535975c5830c2f1aa7344cdc7cb&ipo=images"
                            alt="">
                        <div class="item_data">
                            <div class="data">2023-11-03</div>
                            <div class="data">LONOVO</div>
                            <div class="data">Purchased-by : rahul</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>

</html>
